
div.categories.list,
div.brands.list {
    float: left;
    min-width: 200px;
    width: 22.5%;
    margin-right: 2.5%;
    padding-bottom: 50px;
}
div.items.list {
    float: left;
    min-width: 450px;
    width: 50%;
    padding-bottom: 50px;
}

div.list form input,
div.list form select {
    float: left;
}
div.list form label,
div.list form button{
    float:left;
    clear: both;
}
